*{
    box-sizing: border-box;
}
.parent{
    height: 1200px;
    width: 100%;
    background-color: limegreen;
}
.color-yel{
    background-color: yellow;
}
.color-pink{
    background-color: deeppink;
}
.section-row-1{
    height: 450px;
    width: 100%;
    display: flex;
    border: red solid 10px;
    padding: 15px;
    align-items: center;
}
.section-row-2{
    height: 400px;
    width: 100%;
    border: red solid 10px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.section-row-3{
    height: 350px;
    width: 100%;
    border: red solid 10px;
    display: flex;
    padding: 20px;
    flex-direction: row-reverse;
}

.col1{
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;
    height: 100%;
    margin: 10px;
    background-color: blue;
}
.col2{
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;
    height: 100%;
    margin: 10px;
}
.div1{
    width: 100%;
    height: 100%;
    display: flex;
}
.div2{
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 100%;
}
.col-2-1{

}
.col-2-2{

}
.col-2-3{

}
.col-2-4{

}
.col-3-1{
    flex-basis: 70%;
    height: 100%;
    width: 70%;
    max-width: 70%;
    margin: 5px;
}
.col-3-2{
    flex-basis: 30%;
    height: 100%;
    width: 30%;
    max-width: 30%;
    margin: 5px;
}
@media (max-width: 900px) {
    .col-1-1 {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
        height: 70%;
        margin: 5px;
    }

    .col-1-2 {
        min-width: 100%;
        height: 30%;
        margin: 5px;
    }

    .section-row-1 {
        flex-direction: column;
    }

    .section-row-2 {
        flex-direction: column;
    }

    .section-row-3 {
        flex-direction: column;
    }

    .col-3-1 {
        flex-basis: 40%;
        height: 40%;
        min-width: 100%;
        margin: 5px;
    }
    .col-3-2{
        flex-basis: 60%;
        height: 60%;
        min-width: 100%;
        margin: 5px;
    }
}